body {
    background-color: #fafafa !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

#header-bar {
    height: 15em;
    width: auto;
    background: #41C3AC;
    
}

#header-bar h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    margin: 0;
    padding: .5em;
    color: #FF884D;
    font-family: 'Oleo Script', cursive;
    text-rendering: optimizeLegibility;
    text-shadow: 2px 2px #111;
}

#header-bar p {
    font-size: 20px;
    margin: 0px auto;
    text-align: center;
    color: #fff;
    font-family: 'Oleo Script', cursive;
    /*text-shadow: 2px 2px #000;*/
}

.login_signup {
    position: absolute;
    top: 1em;
    left: 80%;

}

.login_signup a {
    text-decoration: none;
    color: #fafafa;
    padding: .5em;
    font-family:'Noto Sans', sans-serif;
}

.login_signup a:hover {
    color: #FFBE19;
}

.main-area {
    height: 40em;
    background-color: #fafafa;
    width: auto;
}

.stripe2 {
    height: 15em;
    width: auto;
    background: #FF884D;
}

.stripe2 p {
    font-size: 20px;
    margin: 0px auto;
    padding-top: 5em;
    text-align: center;
    color: #fafafa;
    font-family: 'Oleo Script', cursive;
    /*text-shadow: 1px 1px #ccc;*/
    
}

.nav-bar {
    padding: 0 1em;
    margin-top: 25px;
    width: auto;
    text-align: center;
}

/*.nav-bar ul {
   padding: 0;
}

.nav-bar li {
    list-style-type: none;
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #fafafa;
    text-align: center;
}*/

.nav-bar a {
    text-decoration: none;
    color: #fafafa;
    font-family:'Noto Sans', sans-serif;
    padding: 0 1em;
    border-right: 1px solid #fafafa;
    margin: 0;
}

.nav-bar a:last-child {
    border-right: none;
}

.nav-bar a:hover {
    color: #FFB82A;
}

.footer {
    background: #3F4850;
    height: 7em;
    width: auto;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #fafafa;
    font-family:'Noto Sans', sans-serif;
    padding: 1em;
}

.footer a:hover {
    color: #FFBE19;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.form-horizontal {
    position: relative;
    margin: 3em auto;
    width: 500px;
    padding: 20px 20px 20px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    background-color: #eee;
}

.form-horizontal h1 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0;

}

.form-group {
    height: 30px;
}

.form-group a {
    float: right;
}

.title {
    margin-top: 1em;
    padding: 0;
    text-align: center;
}

.form-horizontal2 {
    position: relative;
    margin: 3em auto;
    width: 500px;
    height: 275px;
    padding: 20px 20px 20px;
    border: 1px solid #cfcfcf;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #eee;
}

.form-horizontal2 h1 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0;

}

.form-horizontal2 select {
    width: 354px;
    margin: 0 auto;
    margin-bottom: 1em;
}

.form-horizontal2 .btn {
    float: right;
    margin-right: 50px;
}

.file-input-wrapper {
    width: auto;
    height: 40px;
    overflow: hidden;
    position: relative;
}

.file-input-wrapper > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.file-input-wrapper > .btn-file-input {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-left: 52px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
          user-select: none;
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}

.file-input-wrapper:hover > .btn-file-input {
    color: #ffffff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.audio-control {
    margin-left: 38%;
}

.audio-control h1 {
    font-weight: bold;
    font-size: 14px;
}

.audio-control audio {
    margin-right: 1em;
    float: left;
}

#bump-count {
    display: inline-block;
    font-size: 1.5em;
    color: #FF3E57;
    font-weight: bold;
    margin-left: 10px;
}
