<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Tune Bump</title>
</head>
<body>
  <header id="header-bar">
    <h1>Tune Bump</h1>
    <p>&quotWithout music, life would be a mistake.&quot
        &#150 Friedrich Nietzsche</p>
    <div class="login_signup">
      <a ui-sref="signup">Sign Up</a>
      <a ui-sref="login">Login</a>
    </div>
  </header>
  <nav class="nav-bar">
    <ul>
      <li><a href="rock.html">Rock</a></li>
      <li><a href="indie.html">Indie</a></li>
      <li><a href="r_and_b.html">R&B</a></li>
      <li><a href="hip_hop.html">Hip Hop</a></li>
      <li><a href="folk.html">Folk</a></li>
      <li><a href="country.html">Country</a></li>
      <li><a href="bluegrass.html">Bluegrass</a></li>
      <li><a href="punk.html">Punk</a></li>
      <li><a href="soul.html">Soul</a></li>
      <li><a href="blues.html">Blues</a></li>
      <li><a href="americana.html">Americana</a></li>
      <li><a href="heavy_metal.html">Heavy Metal</a></li>
      <li><a href="gospel.html">Gospel</a></li>
      <li><a href="acoustic.html">Acoustic</a></li>
      <li><a href="classical.html">Classical</a></li>
    </ul>
  </nav>
  <div class="stripe">
    <div ui-view></div>
  </div>
  <div class="stripe2">
    <p>&quotMost people die with their music still locked up inside them.&quot
      &#150 Benjamin Disraeli</p>
  </div>
  <footer class="footer">
    <a href="index.ejs">Home</a>
    <a href="about.html">About</a>
    <a href="faq.html">FAQ</a>
    <a href="terms.html">Terms</a>
    <a href="contact.html">Contact</a>
  </footer>
</body>
</html>


