<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Tune Bump</title>
</head>
<body>
  <header id="header-bar">
    <h1>Tune Bump</h1>
    <p>&quotWithout music, life would be a mistake.&quot
        &#150 Friedrich Nietzsche</p>
    <div class="login_signup">
      <a ui-sref="signup">Sign Up</a>
      <a ui-sref="login">Login</a>
    </div>
  </header>
  <div ui-view></div>
  <nav class="nav-bar">
    <ul>
      <li><a ui-sref="rock">Rock</a></li>
      <li><a ui-sref="indie">Indie</a></li>
      <li><a ui-sref="r&b">R&B</a></li>
      <li><a ui-sref="hip_hop">Hip Hop</a></li>
      <li><a ui-sref="folk">Folk</a></li>
      <li><a ui-sref="country">Country</a></li>
      <li><a ui-sref="bluegrass">Bluegrass</a></li>
      <li><a ui-sref="punk">Punk</a></li>
      <li><a ui-sref="soul">Soul</a></li>
      <li><a ui-sref="blues">Blues</a></li>
      <li><a ui-sref="americana">Americana</a></li>
      <li><a ui-sref="heavy_metal">Heavy Metal</a></li>
      <li><a ui-sref="gospel">Gospel</a></li>
      <li><a ui-sref="acoustic">Acoustic</a></li>
      <li><a ui-sref="classical">Classical</a></li>
    </ul>
  </nav>
 <!-- <div class="stripe"> -->
  </div>
  <div class="stripe2">
    <p>&quotMost people die with their music still locked up inside them.&quot
      &#150 Benjamin Disraeli</p>
  </div>
  <footer class="footer">
    <a href="index.ejs">Home</a>
    <a href="about.html">About</a>
    <a href="faq.html">FAQ</a>
    <a href="terms.html">Terms</a>
    <a href="contact.html">Contact</a>
  </footer>
</body>
</html>


